:root {
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  --accent-color: #2196f3;
  --font-color: #212121;
  --section-pt: 94px;
  --section-pb: 94px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

================================================= body {
  background-color: #e5e5e5;
  color: var(--font-color);
  font-family: var(--main-font);
}

header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--font-color);
  font-family: var(--main-font);
}

main {
  color: var(--font-color);
  font-family: var(--main-font);
  background-color: #ffffff;
}

.link {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* ============ header ============ */

header .container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 24px 0px;
  /* outline:  1px solid black; */
}
/* ============ end header ============ */

/* ============ Logo ============ */
.logo-header {
  margin-right: 93px;
  color: var(--font-color);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.web {
  color: var(--accent-color);
}

/* ============ nav ============ */
.site-nav {
  display: flex;
}

.auth-nav {
  display: flex;
  margin-left: auto;
}

.site-nav .link {
  color: var(--font-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.navigation-item:not(:last-child) {
  margin-right: 50px;
}

.contact-item:not(:last-child) {
  margin-right: 50px;
}

.auth-nav .link {
  color: #757575;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .active {
  color: var(--accent-color);
}
/* ============ end nav ============ */

/* ============ hero ============ */
.hero-container {
  padding: 200px 15px;
  margin-bottom: var(--section-pb);
  margin: 0 auto;
  max-width: 1600px;
  background-color: #2f303a;
}
.hero-title {
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 696px;
  text-align: center;
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}
.hero-button {
  margin: 0 auto;
  width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: block;
  background-color: var(--accent-color);
  color: #ffffff;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */
  border-radius: 4px;
  border: 0px var(--accent-color);
}
/* ============ end hero ============ */

/* ============ advantage ============ */
.advantage {
  display: flex;
}
.advan {
  padding-bottom: 0;
}
.advantage .item:nth-child(1) {
  margin-left: 0px;
}
.advantage > .item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
}
.advantage-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
}
.advantage-text {
  font-size: 14px;
  line-height: 1.71;
}
/* ============ end advantage ============ */

/* ============ work============ */
.list-work {
  display: flex;
  justify-content: space-between;
}
.list-work-item {
}
.work {
  text-align: center;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}
/* ============ end work ============ */

/* ============ team ============ */
.team {
  display: flex;
  justify-content: space-between;
}
.team-flex {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
}
.description {
  background-color: #f5f4fa;
}
.team-item {
  background-color: #fff;
}
.team-title {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}
.team-title-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
}
.team-title-profession {
  font-size: 16px;
  line-height: 1.17;
  color: #757575;
}
/* ============ end team ============ */

/* ============ opportunities ============ */
.opportunities {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.opportunities-item + .opportunities-item {
  margin-left: 8px;
}

.opportunities-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  border: 1px solid #eee;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 6px 22px;
}

.opportunities-button:hover,
.opportunities-button:focus {
  background-color: var(--accent-color);
  color: #fff;
  cursor: pointer;
  border-color: var(--accent-color);
}
/* ============ end opportunities ============ */

/* ============ products ============ */
.gallery {
  padding-top: 32px;
  padding-bottom: 156px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.products-item {
  flex-basis: calc((100%-60px) / 3);
  margin-top: 30px;
  /* width: 370px;
   height: 404px; */
}
.cart-content {
  padding: 20px 24px;
  box-sizing: border-box;
  border: 1px solid #eee;
  border-top: none;
  width: 370px;
}

.products-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--font-color);
}
.products-cat {
  font-weight: 400;
  color: #757575;
  font-size: 16px;
  line-height: 1.875;
}
/* ============ end products ============ */

/* ============ footer ============ */
footer {
  background-color: #2f303a;
  font-size: 14px;
  line-height: 1.71;
}

.address {
  display: flex;
  flex-direction: column;
  font-style: normal;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  margin-bottom: 20px;
  font-family: var(--secondary-font);
  font-weight: 700;
  color: #ffffff;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.address-item + .address-item {
  margin-top: 9px;
}

.address-text {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
  font-style: normal;
  font-family: var(--main-font);
  font-weight: 400;
}

.mail-tel {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
}

/* ============ end footer ============ */
